.img-item{
    display: block;
}

body{
    background-color: #EAE8FE;
}

#app{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 28px;
    padding: 248px;
    font-family: 'Noto Sans KR', sans-serif;
}

#app .vending-machine,
#app .my-info{
    width: 360px;
    background-color: #fff;
    box-sizing: border-box;
}

#app .title-app{
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 360px;
    height: 180px;
    background-image: url("./images/Logo_img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#app .vending-machine{
    padding: 31px 27px 28px;
}

.vending-machine .list-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

.vending-machine .list-item li{
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgbs(0, 0, 0, 0.5);
}

.vending-machine .list-item .img-item{
    width: 36px;
}

.vending-machine .list-item li:active::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #6327FE;
    border-radius: 10px;
    box-sizing: border-box;
}

